##  CMSC 691: Homework 2

In this homework you will be working on clustering and try analyzing the data using various clustering algos from the scikit learn module.

You may use the Clusetring Jupyter Notebook Dr. Kalpakis prepared for the class.

### DataSet: 'Diabetic Data' 

This dataset represents 10 years (1999-2008) of clinical care at 130 US hospitals and integrated delivery networks. It includes over 50 features representing patient and hospital outcomes. Information was extracted from the database for encounters that satisfied the following criteria.
1.	It is an inpatient encounter (a hospital admission).
2.	It is a diabetic encounter, that is, one during which any kind of diabetes was entered to the system as a diagnosis.
3.	The length of stay was at least 1 day and at most 14 days.
4.	Laboratory tests were performed during the encounter.
5.	Medications were administered during the encounter.
The data contains such attributes as patient number, race, gender, age, admission type, time in hospital, medical specialty of admitting physician, number of lab test performed, HbA1c test result, diagnosis, number of medication, diabetic medications, number of outpatient, inpatient, and emergency visits in the year before the hospitalization, etc.

https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008

In [4]:
import pandas as pd

df = pd.read_csv('diabetic_data.csv')

In [5]:
df.head(20)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

### Q1. K-Means (10 pts):

Use the k-means clustering algo from sklearn.
Cluster the data over any numeric attribute by varying any 2 combinations of parameters of the KMeans algorithm 
and discuss the results obtained

Documentation:
http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html

In [ ]:
from sklearn.cluster import KMeans

## Q2. Use the k-medoids clustering algorithm (30 pts):

k-medoids is a special case of k-means where the centroids are chosen from among the data points in the dataset.

Using k-medoids, create 2 different clusters of the above dataset.
1. Clustering over some numeric attributes of your choice.
2. Clustering over some nominal and numerical attributes of your choice.

## Q3 Agglomerative (10 pts)

Use agglomerative clustering to demonstrate hierarchical (agglomerative) clustering of the dataset. Plot a dendrogram for your clustering.

## Q4 Spectral Clustering (10 pts)

Perform spectral clustering on attributes of your choice.

## Q5 Plotting clusters and discussion of results (40 pts)

Using tools from the matplot, seaborn, and pandas packages, illustrate the generated clusters for each of the clustering methods used above and discuss the results.