# HW3: Task
Predict the region and area (or areaname) of olive oils based on their fatty acid contents.source 

The task's source is http://www.ggobi.org/book/

Fit and evaluate the classification predictions of LDA, LogisticRegression, SVM, k-NN, and 
Random Forests for both the region and area.

### 20 pts for each classifier

You may use the Classification Jupyter Notebook Dr. Kalpakis prepared for the class.

## Dataset description and data

In [1]:
from IPython.display import IFrame
IFrame("OliveOil2.pdf", height=100, width=100, embed=True)

In [2]:
%matplotlib inline
import pandas as pd

In [3]:
# The dataset
df=pd.read_csv("olive.csv")
df.rename(columns={df.columns[0]:'areaname'}, inplace=True)
df.areaname=df.areaname.map(lambda x: x.split('.')[-1])
df.sample(50).head(10)

,areaname,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
394,Inland-Sardinia,2,5,1103,81,208,7310,1177,30,90,3
11,North-Apulia,1,1,1036,59,235,7868,661,30,62,44
486,East-Liguria,3,7,1080,100,260,7710,750,20,70,2
408,Inland-Sardinia,2,5,1094,96,220,7341,1127,26,96,2
110,South-Apulia,1,3,1305,172,169,7004,1260,28,50,11
544,West-Liguria,3,8,1180,130,220,7450,1010,0,10,2
343,Inland-Sardinia,2,5,1176,92,207,7347,1057,35,82,1
246,South-Apulia,1,3,1201,138,207,7011,1269,37,64,35
94,South-Apulia,1,3,1413,193,208,6875,1202,30,60,18
569,West-Liguria,3,8,1010,90,210,7720,970,0,0,2

## 1. LDA

## 2. Logistic Regression

## 3. SVM

## 4. k-NN

## 5. Random Forest