# HW3: Task
Predict the region and area (or areaname) of olive oils based on their fatty acid contents.source 

The task's source is http://www.ggobi.org/book/

Fit and evaluate the classification predictions of LDA, LogisticRegression, SVM, k-NN, and 
Random Forests for both the region and area.

### 20 pts for each classifier

You may use the Classification Jupyter Notebook Dr. Kalpakis prepared for the class.

## Dataset description and data

In [2]:
from IPython.display import IFrame
IFrame("OliveOil2.pdf", height=100, width=100, embed=True)

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np

In [4]:
# The dataset
df=pd.read_csv("olive.csv")
df.rename(columns={df.columns[0]:'areaname'}, inplace=True)
df.areaname=df.areaname.map(lambda x: x.split('.')[-1])
df.sample(50).head(10)

,areaname,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
268,Sicily,1,4,1284,93,265,7235,893,43,77,46
275,Sicily,1,4,1303,100,251,7045,1049,40,86,40
193,South-Apulia,1,3,1447,236,245,6607,1336,33,51,21
145,South-Apulia,1,3,1413,202,205,6920,1165,36,46,13
435,Umbria,3,9,1090,58,192,7950,600,35,40,3
459,Umbria,3,9,1110,75,220,7915,510,55,65,2
414,Coast-Sardinia,2,6,1141,95,250,7035,1388,22,68,2
454,Umbria,3,9,1090,60,198,7945,600,32,35,2
293,South-Apulia,1,3,1283,153,196,7107,1115,37,60,28
18,North-Apulia,1,1,961,70,195,7958,742,46,75,30

## 1. LDA

In [3]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

## 2. Logistic Regression

In [4]:
from sklearn.linear_model import LogisticRegression

## 3. SVM

In [ ]:
tot = .85 * 7 +

## 4. k-NN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

## 5. Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier